/target
session2/***/target
session1/***/target
.DS_Store
session2/***/.DS_Store
session1/***/.DS_Store

session4/thumbnail_server/images


/session4/thumbnail_server/
/session4/thumbnail_server/images.db*
